<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Management System - Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <script src="{{ url_for('static', filename='login.js') }}"></script>
</head>
<body class="account-page">
    <header class="account-header">
        <nav class="account-nav">
            <ul>
                <li><a onclick="window.location.href='/main'">Dashboard</a></li>
                <li><a onclick="window.location.href='/account'">Profile</a></li>
                <li><a onclick="window.location.href='/login'">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="container" style="background-color: white">
        <div class="user-info">
            <h2>Welcome, {{ current_user.username }}</h2>
            <p>Number of Posts: {{ num_posts }}</p>
            <!-- Profile Picture -->
            {% if current_user.profile_picture %}
                <img style="border-radius: 50px; width: 80px; height: 80px" src="{{ url_for('static', filename=current_user.profile_picture) }}">
            {% else %}
            <form action="/upload_profile_picture" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" required>
                <button type="submit"> Submit </button>
            </form>
            {% endif %}
        </div>
        
        <div class="user-posts">
            <h3>Your Posts:</h3>
            <ul>
                {% for post in current_user.posts %}
                    <li>
                        <a href="{{ url_for('viewPost', post_id=post.id) }}">
                            {{ post.title }}
                        </a>
                        <img style="width: 10%; height: 10%"src="{{ url_for('static', filename=post.picture) }}" alt="Post Picture">
                        <!-- Add more details about the post if needed -->
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <footer class="account-footer">
        <p>Copyright Â© Flowt. All rights reserved.</p>
    </footer>
</body>
</html>