<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='mainSearch.css') }}">
    <style>
        /* Add this style to set the image dimensions */
        .image {
            width: 200px; /* Set the desired width */
            height: auto; /* Maintain aspect ratio */
        }
    </style>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <!-- <script>console.log(post)</script> -->
</head>
<body  class="mainPage">
<!-- Main Page -->
<header class="account-header">
    <nav class="account-nav">
        <ul>
            <li><a onclick="window.location.href='/main'">Dashboard</a></li>
            <li><a onclick="window.location.href='/account'">Profile</a></li>
            <li><a onclick="window.location.href='/login'">Logout</a></li>
        </ul>
    </nav>
</header>

<!-- Instagram Esque Posts -->
<div class="content" id = "scrollContent">
    <div>
        <a href="/post" style="background-color: rgb(218, 218, 218); color: black; width:100%;  box-shadow: 5px 10px; font-size: 34px; text-decoration:none; text-align: center; height: 50px;">Add Post</a>
        <a href="/search" style="background-color: rgb(218, 218, 218); color: black; width:100%;  box-shadow: 5px 10px; font-size: 34px; text-decoration:none; text-align: center; height: 50px;">Search</a>
    </div>
    <br>
    <br>
    <table>
        <!-- Every table Row will be a post -->
        {%for i in posts%}
            <td>
                {% for user in users %}
                    {% if user.id == i.user_id %}
                        {%if user.profile_picture%}
                        <img id="icon" src="{{ url_for('static', filename=user.profile_picture) }}">
                        {%else%}
                        <img id="icon" src="{{ url_for('static', filename='Icon.png') }}">
                        {%endif%}
                    {% endif %}
                {% endfor %}
                    <a href="{{ url_for('viewPost', post_id=i.id) }}">
                        {{ i.title }}
                    </a>{{i.label}}
            </td>
            <!--<td style="font-size:30px;">June Eguilos</td>-->
        </tr>
        <!-- Image Content -->
        <tr>
            <td colspan="4"><image class="image" src="{{ url_for('static', filename=i.picture) }}"></image></td>

        </tr>
        <!-- Likes, Comments -->
        <tr>
            <td>{{i.upvote}}</td>
            <td>{{i.downvote}}</td>

        </tr>
        <tr>
            <td><button type="button" onclick="likePost('{{i.id}}')">Like</button></td>
            <td><button type="button" onclick="dislikePost('{{i.id}}')">DisLike</button></td>

        </tr>
        {%endfor%}
    </table>
    <br>
</div>

<div class="filterTags">
    test
</div>

<div class="popularPage">
    <div style="background-color: rgb(255, 217, 217);">
        Popular Posts(Will be based on Likes)
    </div>
    <br>
    <table>
        {%for i in popularPosts%}
        <!-- Every table Row will be a post -->
        <tr>
            <td>
                {% for user in users %}
                    {% if user.id == i.user_id %}
                        {%if user.profile_picture%}
                        <img id="icon" src="{{ url_for('static', filename=user.profile_picture) }}">
                        {%else%}
                        <img id="icon" src="{{ url_for('static', filename='Icon.png') }}">
                        {%endif%}
                    {% endif %}
                {% endfor %}
                <span style="font-size:30px">{{i.title}}</span>
            </td>
            <!--<td style="font-size:30px;">June Eguilos</td>-->
        </tr>
        <!-- Image Content -->
        <tr>
            <td colspan="4"><image class="image" src="{{ url_for('static', filename=i.picture) }}"></image></td>
        </tr>
        <!-- Likes, Comments -->
        <tr>
            <td colspan="2">TITLE, WILL LEAD TO ANOTHER POST HERE</td>
        </tr>
        <tr>
            <td>{{i.upvote}}</td>
            <td>{{i.downvote}}</td>
        </tr>
        <tr>
            <td><button type="button" onclick="likePost('{{i.id}}')">Like</button></td>
            <td><button type = "button" onclick="dislikePost('{{i.id}}')">dislike</button></td>
        </tr>
        
        {%endfor%}
    </table>
    <br>
</div>
</body>

</html>