<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Management System - Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='forum.css') }}">
    <!-- <script src="{{ url_for('static', filename='login.js') }}"></script> -->
</head>
<body class="forum-page">

    <header class="forum-header">
        <nav class="forum-nav">
            <ul>
                <li><a href="/main">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li>Logout</a></li>
            </ul>
        </nav>
    </header>
    

    <!-- Rest of your content -->
    <div class="viewPost-main">
        <h1>{{post.title}}</h1>
        <image class="image" src="{{ url_for('static', filename=post.picture) }}"">
        <p>{{post.description}}</p>
        <p>{{post.label}}</p>

    </div>

    <footer class="account-footer">
        <p>Copyright © Flowt. All rights reserved.</p>
    </footer>

</body>
</html>
