<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Management System - Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='forum.css') }}">
    <!-- <script src="{{ url_for('static', filename='login.js') }}"></script> -->
</head>
<body class="forum-page">

    <header class="forum-header">
        <nav class="forum-nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li>Logout</a></li>
            </ul>
        </nav>
    </header>
    

    <!-- Rest of your content -->
    <div class="post-main">
        <H2>Create a Post</H2>
        <input type="text" id="title" name="title" placeholder="Title">
        <textarea style="resize: none; height: 300px; width: 99%;"id="post" name="post" rows="4" cols="50" placeholder="Enter Recipe Here">
        </textarea>
        <input type="text" id="title" name="title" placeholder="#Baking #Peach Cobbler">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit">Upload Image</button>
        </form>
        <button type="button"> Submit </button>
    </div>

    <footer class="account-footer">
        <p>Copyright © Flowt. All rights reserved.</p>
    </footer>

</body>
</html>
