<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Management System - Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='forum.css') }}">
    <!-- <script src="{{ url_for('static', filename='login.js') }}"></script> -->
</head>
<body class="forum-page">

    <header class="forum-header">
        <nav class="forum-nav">
            <ul>
                <li><a href="/main">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li>Logout</a></li>
            </ul>
        </nav>
    </header>
    
    <!-- Rest of your content -->
    <div class="viewPost-main">
        <h1 style="text-align: center;">{{post.title}}</h1>
        <image class="image" src="{{ url_for('static', filename=post.picture) }}"">
        <p>{{post.description | safe}}</p>
        <p>{{post.label}}</p>
    </div>
    <div class="viewPost-box">
        <div class="viewPost-Ingredients">
            <ul style="list-cycle:circle">
                <h3>Ingredients</h3>
                {% for i in post.ingredients.split(',')%}
                    <li>{{i}}</li>
                {%endfor%}
            </ul>
        </div>

        <!-- Not working yet -->
        <div class="viewPost-Comments">
            <form action="/submitComment?post_id={{post.id}}" method="POST">
            <h2>Comments</h2><input type="hidden" name="post_id" value="{{post.id}}">
            <Input type="text" id="comment" name="comment" placeholder="Please Place your Comment Here"/>
            <button type="submit"> Submit </button></form>
            {% for i in comments%}
                <!-- {%if i.post_id == post_id%} -->
                <p>{{i.comment}}</p>
                <!-- {%endif%} -->
            {%endfor%}
        </div>
    </div>

    <footer class="account-footer">
        <p>Copyright © Flowt. All rights reserved.</p>
    </footer>

</body>
</html>
