<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Management System - Account</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <script src="{{ url_for('static', filename='login.js') }}"></script>
</head>
<body class="account-page">
    <header class="account-header">
        <nav class="account-nav">
            <ul>
                <li><a onclick="window.location.href='/main'">Dashboard</a></li>
                <li><a onclick="window.location.href='/account'">Profile</a></li>
                <li><a onclick="window.location.href='/login'">Logout</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Page -->
    <div class="TagSearch">
        <!-- Search for tags and Filter them -->
        <div>
        <h2>Find Specific Posts Associated with Tags</h2>
        {% set tagCount = {} %}
        {% for post in posts %}
        {% for tag in post.label.split() %}
            {% if tag.startswith('#') %}
                {% set tag = tag[1:] %}
                <!-- Our Dictionary to get the amount of similar tags -->
                {% if tag not in tagCount %}
                    {% set _ = tagCount.update({tag: 1}) %}
                {% else %}
                    {% set _ = tagCount.update({tag: tagCount[tag] + 1}) %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
        <input type="text" id="filter" name="filter" placeholder="Search for a Tag">

        {% for tag, count in tagCount.items()%}
        <!-- This seperates each single #Label, we can use a tag to get each post-->
        <a style="background-color: rgb(208, 208, 255); border-radius: 10px; color: black; text-decoration: none"href="/search/{{tag}}" class="tag">#{{tag}}({{count}})</a>
        {%endfor%}
        </div>

        <!-- Show posts associated when clicking specific tags -->
        <div class="TagPostSearch">
            <h2>Shown Posts</h2>

                <!-- Every table Row will be a post -->
                {% if filtered_posts%}
                {%for i in filtered_posts%}
                <table style="background-color: white; width: 100%; box-shadow: 2px 5px 5px; margin-top: 7px; border-radius: 10px;">
                    <td>
                        {% for user in users %}
                            {% if user.id == i.user_id %}
                                {%if user.profile_picture%}
                                <img id="icon" src="{{ url_for('static', filename=user.profile_picture) }}">
                                {%else%}
                                <img id="icon" src="{{ url_for('static', filename='Icon.png') }}">
                                {%endif%}
                            {% endif %}
                        {% endfor %}
                            <a href="{{ url_for('viewPost', post_id=i.id) }}">
                                {{ i.title }}
                            </a>

                    </td>
                        <!--<td style="font-size:30px;">June Eguilos</td>-->
                    </tr>
                    <!-- Image Content -->
                    <tr>
                        <td colspan="4"><image style="width: 50px; height: 50px" src="{{ url_for('static', filename=i.picture) }}"></image></td>

                    </tr>
                    <!-- Likes, Comments -->
                    <tr>
                        <td>{{i.label}}</td>
                    </tr>
                </table>
                {%endfor%}
                {%endif%}
        </div>

    </div>

    <footer class="account-footer">
        <p>Copyright Â© Flowt. All rights reserved.</p>
    </footer>
</body>
<script>
        document.getElementById("filter").addEventListener("input", function() {
        var input = this.value.toLowerCase();
        var tags = document.getElementsByClassName("tag");

        for (var i = 0; i < tags.length; i++) {
            var tagText = tags[i].textContent.toLowerCase();
            if (tagText.indexOf(input) > -1) {
                tags[i].style.display = "";
            } else {
                tags[i].style.display = "none";
            }
        }
    });
</script>
</html>